<mirrors>
    <!--maven官方镜像-->
        <mirror>
          <id>mirrorId</id>
          <mirrorOf>central</mirrorOf>
          <name>Human Readable Name </name>
          <url>https://repo1.maven.org/maven2/</url>
        </mirror>
     
    <!--阿里云镜像2-->
        <mirror>
            <id>alimaven</id>
            <name>aliyun maven</name>
            <url>https://maven.aliyun.com/nexus/content/groups/public/</url>
            <mirrorOf>central</mirrorOf>
        </mirror>

        <!--junit镜像地-->
        <mirror> 
            <id>junit</id> 
            <name>junit Address/</name> 
            <url>https://jcenter.bintray.com/</url> 
            <mirrorOf>central</mirrorOf> 
        </mirror>
</mirrors>